<configuration>
    <contextName>discore</contextName>

    <turboFilter class="com.zp4rker.discore.log.LogInterceptor"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>